:host
    display block
    padding 1em

.bike-rack-form
    display flex
    flex-direction column
    margin auto
    max-width 640px

.bike-rack-form__actions
    margin-top 1em
    text-align right

.bike-rack-form__photo
    padding 1em
    text-align center
    border 2px dashed
    border-radius .5em

.bike-rack-form__map-holder
    position relative
    width 100%
    height 220px

.bike-rack-form__map
    position absolute
    width 100%
    height 100%

.bike-rack-form__pointer
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    margin auto
    width 20px
    height 32px
    background-color transparent
    border-radius 10px
    background-image url(/assets/map-markers/rack-marker-default.png)
    background-position contain
    transform translateY(-50%)

.bike-rack-form__preview
    display block
    max-height 100px
    object-fit cover
    object-position center
