:host
    display block

.bike-rack-form
    display flex
    flex-direction column

.bike-rack-form__actions
    margin-top 1em
    text-align right

.bike-rack-form__photo
    position relative
    display flex
    flex-direction column
    align-items center
    width 100%
    margin 1em 0

.bike-rack-form__thumbnail
    position relative
    overflow hidden
    text-align center
    border-radius .5em

.bike-rack-form__img
    vertical-align top
    max-width 280px
    max-height 100px

.bike-rack-form__overlay
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    display flex
    align-items center
    justify-content center
    background-color rgba(#000000, 35%)

.bike-rack-form__dropzone
    padding 1em
    width 100%
    box-sizing border-box
    text-align center
    border-radius .5em
    background-color rgba(#000000, 6%)

.bike-rack-form__change
    color #ffffff

.bike-rack-form__map-holder
    position relative
    width 100%
    height 220px

.bike-rack-form__map
    position absolute
    width 100%
    height 100%

.bike-rack-form__pointer
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    margin auto
    width 22px
    height 31px
    background-color transparent
    border-radius 10px
    background-image url(/assets/rack-markers/primary-lg-default.svg)
    background-position contain
    transform translateY(-50%)

.bike-rack-form__capacity
    margin-right 1em
    max-width 4em

.upload-progress
    position fixed
    top 0
    left 0
    right 0

.mat-checkbox
    margin-top .5rem
