<h1>Нова велопарковка</h1>
<form class="bike-rack-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="bike-rack-form__map-holder">
        <google-map
            class="bike-rack-form__map"
            [zoom]="17"
            [options]="mapOptions"
            [width]="'inherit'"
            [height]="'inherit'"
            (centerChanged)="updateLocation()"
        ></google-map>
        <div class="bike-rack-form__pointer"></div>
    </div>
    <mat-form-field>
        <input matInput placeholder="Назва" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Ємність" formControlName="capacity">
    </mat-form-field>
    <div class="bike-rack-form__photo" (click)="fileInput.click()">
        <mat-icon>add_a_photo</mat-icon>
    </div>
    <p *ngIf="previewSrc">{{previewSrc}}</p>
    <input type="file" hidden #fileInput (change)="onFileChange(fileInput)">
    <mat-progress-bar *ngIf="uploadPercent" mode="determinate" [value]="uploadPercent"></mat-progress-bar>
    <div class="bike-rack-form__actions">
        <button mat-button type="button" (click)="cancel()" [disabled]="uploadPercent">Скасувати</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="uploadPercent">Зберегти</button>
    </div>

</form>
