<h1>Нова велопарковка</h1>
<form class="bike-rack-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <input matInput type="number" placeholder="Широта" formControlName="latitude">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Довгота" formControlName="longitude">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Назва" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Ємність" formControlName="capacity">
    </mat-form-field>
    <div class="bike-rack-form__actions">
        <button mat-button type="button" (click)="cancel()">Скасувати</button>
        <button mat-raised-button color="primary" type="submit">Зберегти</button>
    </div>

</form>
