:host
    display block
    padding 0 1em

.bike-rack-form
    display flex
    flex-direction column
    max-width 640px

.bike-rack-form__actions
    text-align right   

.bike-rack-form__photo
    padding 1em
    text-align center
    border 2px dashed
    border-radius .5em  