<google-map
    class="map-container"
    [zoom]="zoom"
    [options]="mapOptions"
    [width]="'inherit'"
    [height]="'inherit'"
    (mapClick)="clearRack($event)"
>
    <ng-container *ngIf="isLoggedIn | async">
        <map-marker *ngFor="let hint of hints | async" [position]="{lat: hint[1], lng: hint[0]}" [options]="markerOptions.hint"></map-marker>
    </ng-container>
    <map-marker
        *ngFor="let rack of racks | async"
        [position]="{lat: rack.coords.latitude, lng: rack.coords.longitude}"
        [options]="rack.is_sheffield ? markerOptions.rack: markerOptions.rackLow"
        (mapClick)="onRackSelect(rack)"
    ></map-marker>
    <map-marker *ngIf="userPosition" [position]="{lat: userPosition.coords.latitude, lng: userPosition.coords.longitude}" [options]="markerOptions.userLocation"></map-marker>

</google-map>

<button class="menu-button" mat-raised-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <a mat-menu-item *ngIf="isLoggedIn | async; else suggestLink" routerLink="/editor/create">Додати велопарковку</a>
    <button mat-menu-item type="button" (click)="openSettings(settingsDialogContent)">Налаштування</button>
    <button mat-menu-item *ngIf="isLoggedIn | async" type="button" (click)="logout()">Вийти</button>
</mat-menu>
<ng-template #suggestLink>
    <a mat-menu-item href="https://forms.gle/b1YSbj9nJgBUmuss9" target="_bank">
         Відсутня на карті? <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
</ng-template>

<button class="mat-elevation-z2 location-button" mat-fab color="" type="button" (click)="centerMapToUserPosition()">
    <mat-icon>my_location</mat-icon>
</button>

<app-rack-card *ngIf="selectedRack | async as rack" [rack]="rack" [canEdit]="isLoggedIn | async"></app-rack-card>

<ng-template #settingsDialogContent>
    <h2 mat-dialog-title>Показувати</h2>
    <mat-dialog-content>
        <mat-selection-list (selectionChange)="onSettingsChange($event)">
            <mat-list-option [checkboxPosition]="'before'" [selected]="settings.private" value="private">Службові</mat-list-option>
            <mat-list-option [checkboxPosition]="'before'" [selected]="settings.small" value="small">Малі</mat-list-option>
            <mat-list-option [checkboxPosition]="'before'" [selected]="settings.allDesigns" value="allDesigns">Будь-якої конструкції</mat-list-option>
        </mat-selection-list>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Закрити</button>
    </mat-dialog-actions>
</ng-template>
