:host
    display block
    position absolute
    top 0
    bottom 0
    left 0
    right 0

.map-container
    height 100%

.position-button
    position fixed
    left 0
    top 0

 .editor-button
    position fixed
    left 0
    top 2em   
    display inline-block
    background-color #ffffff
    text-decoration none
    color #999999

.login-button
    position fixed
    top 0
    right 0

.rack-details
    position fixed
    bottom 0
    left 0
    right 0
    margin auto
    width auto
    height 100%
    max-width 640px
    max-height 50vh
    background-color white

.rack-details__img
    object-fit cover
    object-position center
    width 100%
    height 100%
