
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat.define-typography-config(
    $font-family: '-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif;',
    $body-2: mat.define-typography-level(16px, 24px, 500)
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies($custom-typography);
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kyiv-bike-racks-primary: mat.define-palette(mat.$indigo-palette);
$kyiv-bike-racks-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kyiv-bike-racks-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$kyiv-bike-racks-theme: mat.define-light-theme((
    color: (
        primary: $kyiv-bike-racks-primary,
        accent: $kyiv-bike-racks-accent,
        warn: $kyiv-bike-racks-warn,
    ),
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kyiv-bike-racks-theme);


html, body { height: 100%; }
body { margin: 0; font-size: 16px; font-family: sans-serif; }
