// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

$font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif;

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: $font-family,
            density: 0,
        )
    );
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-family;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
